@font-face {
    font-family: "Grafier";
    src: url("../fonts/flaticon/font/Flaticon.eot");
    src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/font/Flaticon.woff") format("woff"), url("../fonts/flaticon/font/Flaticon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
