@font-face {
    font-family: "Ricks";
    src: url("../fonts/flaticon/font/Ricks.eot");
    src: url("../fonts/flaticon/font/Ricks.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/font/Ricks.woff") format("woff"), url("../fonts/flaticon/font/Ricks.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
